/* * {
    outline: 1px red solid;
  } */

*{
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(50, 50, 50);
  }

body{
    background-repeat: no-repeat;
    margin: 0 auto;
    min-width: 960px;
}

.container{
    max-width: 1600px;
    align-items: center;
    margin: 0 auto;
}

.header{
    z-index: 2;
    position: fixed;
    background-color: black;
    width: 1600px;
    height: 77px;
}

.logo img{
    width: 44px;
    height: 44px;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 1.3%;
}

.logo p{
    color: #FFFFFF;

    font-weight: bold;
    font-size: 17.5px;
    margin-top: -3.55%;
    padding-left: 4.3%;
}

.navigasi{
    height: 72px;
}

.navigasi nav{
    margin-top: -2.5%;
    padding-left: 60%;
}

.navigasi nav a{
    color: #FFFFFF;
    text-decoration: none;

    font-size: 20px;
    margin-right: 7.7%;
}

.navigasi nav a:hover{
    color: yellow;
}

/* 110% */
@media screen and (min-width : 1300px) and (max-width : 1439px){
    
    .header{
        height: 70px;
    }

    .logo img{
        margin-top: 0.75%;
    }

    .navigasi nav{
        padding-left: 55%;
        margin-top: -2.3%;
    }

    .navigasi nav a{
        font-size: 18px;
        margin-right: 6.7%;
    }
}

/* 120% */
@media screen and (min-width : 1200px) and (max-width : 1299px){
  
    .header{
        height: 70px;
    }

    .logo img{
        margin-top: 0.75%;
    }

    .navigasi nav{
        padding-left: 50%;
        margin-top: -2.3%;
    }

    .navigasi nav a{
        font-size: 17px;
        margin-right: 5.7%;
    }
}

/* 130% */
@media screen and (min-width : 1100px) and (max-width : 1199px){
  
    .header{
        height: 65px;
    }

    .logo img{
        margin-top: 0.5%;
    }

    .navigasi nav{
        padding-left: 46%;
        margin-top: -2.2%;
    }

    .navigasi nav a{
        font-size: 16px;
        margin-right: 4.7%;
    }
}

/* 140% */
@media screen and (max-width : 1099px){
  
    .header{
        height: 60px;
    }

    .logo img{
        margin-top: 0.5%;
    }

    .navigasi nav{
        padding-left: 42%;
        margin-top: -2.5%;
    }

    .navigasi nav a{
        font-size: 15px;
        margin-right: 4.2%;
    }
}

/* PANEL 1 */

.panel1{
    height: 750px;
    background-color: rgb(20, 20, 20);
}

.opening{
    position: relative;
    width: 500px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;

    color: yellow;
    opacity: 88%;

    margin-left: 12.5%;
    padding-top: 10.5%;
}

.abstrak{
    position: relative;
    width: 515px;
    height: 100px;

    z-index: 1;

    font-style: normal;
    font-size: 20px;

    color: #ffffff;

    margin-left: 12.5%;
    letter-spacing: 0.1em;
}

.abstrak a{
    color: yellow;
    opacity: 55%;
    text-decoration: underline;
}

.main_pic img{
    position: relative;
    float: right;
    width: 450px;
    height: 450px;

    margin-top: -13.5%;
    margin-right: 12.5%;
}

.profile_icons{
    margin-top: 11%;
}

.email_me img{
    height: 40px;
    width: 125px;

    margin-left: 12.5%;
    opacity: 88%;
}

.ig img{
    height: 40px;
    width: 40px;
    margin-left: 2.5%;
}

.wa img{
    height:44px;
    width: 44px;
    margin-left: 2.5%;
}

.linkedin img{
    position: relative;
    height:44px;
    width: 44px;
    margin-left: 2.5%;
}

/* 110% */
@media screen and (min-width : 1300px) and (max-width : 1439px){
    
    .panel1{
        height: 700px;
    }

    .opening{
        font-size: 37px;
        padding-top: 11.5%;
    }

    .abstrak{
        font-size: 19px;
    }

    .main_pic img{
        width: 420px;
        height: 420px;
        margin-top: -14.5%;
    }
    
    .profile_icons{
        margin-top: 10%;
    }
    
    .email_me img{
        height: 36px;
        width: 115px;
    }
    
    .ig img{
        height: 38px;
        width: 38px;
    }
    
    .wa img{
        height:41.5px;
        width: 41.5px;
    }
    
    .linkedin img{
        height:41.5px;
        width: 41.5px;
    }
}

/* 120% */
@media screen and (min-width : 1200px) and (max-width : 1299px){
  
    .panel1{
        height: 650px;
    }

    .opening{
        font-size: 35px;
        padding-top: 10.5%;
        margin-left: 10.5%;
    }

    .abstrak{
        font-size: 18px;
        margin-left: 10.5%;
        width: 460px;
    }

    .main_pic img{
        width: 420px;
        height: 420px;
        margin-top: -17%;
    }
    
    .profile_icons{
        margin-top: 9%;
    }
    
    .email_me img{
        height: 32px;
        width: 100px;
        margin-left: 10.5%;
    }
    
    .ig img{
        height: 35px;
        width: 35px;
    }
    
    .wa img{
        height:38px;
        width: 38px;
    }
    
    .linkedin img{
        height:38px;
        width: 38px;
    }
}

/* 130% */
@media screen and (min-width : 1100px) and (max-width : 1199px){
   
    .panel1{
        height: 600px;
    }

    .opening{
        font-size: 32px;
        padding-top: 10.5%;
        margin-left: 9.5%;
    }

    .abstrak{
        font-size: 16px;
        margin-left: 9.5%;
        width: 420px;
    }

    .main_pic img{
        width: 390px;
        height: 390px;
        margin-top: -17%;
    }
    
    .profile_icons{
        margin-top: 9%;
    }
    
    .email_me img{
        height: 30px;
        width: 95px;
        margin-left: 9.5%;
    }
    
    .ig img{
        height: 34px;
        width: 34px;
    }
    
    .wa img{
        height:36px;
        width: 36px;
    }
    
    .linkedin img{
        height:36px;
        width: 36px;
    }
}

/* 140% */
@media screen and (max-width : 1099px){
  
    .panel1{
        height: 550px;
    }

    .opening{
        font-size: 30px;
        padding-top: 10.5%;
        margin-left: 8.5%;
    }

    .abstrak{
        font-size: 14.5px;
        margin-left: 8.5%;
        width: 400px;
    }

    .main_pic img{
        width: 350px;
        height: 350px;
        margin-top: -18%;
    }
    
    .profile_icons{
        margin-top: 7%;
    }
    
    .email_me img{
        height: 30px;
        width: 95px;
        margin-left: 8.5%;
    }
    
    .ig img{
        height: 34px;
        width: 34px;
    }
    
    .wa img{
        height:36px;
        width: 36px;
    }
    
    .linkedin img{
        height:36px;
        width: 36px;
    }
}

/* PANEL 2 */

.panel2{
    height: 800px;
    margin-top: -4%;
    background-color: rgb(25, 25, 25);
}

.header_p2 p{
    position: relative;
    width: 800px;

    font-style: normal;
    font-weight: bold;
    font-size: 50px;

    color: yellow; 

    margin-left: 12.5%;
    padding-top: 7%;
}

.project_container{
    width: 600px;
    height: 400px;

    vertical-align: middle;
    background-color: rgb(10, 10, 10);
    margin-left: 12.5%;
    margin-top: 5%;
}

.project2 img{
    position: relative;
    width: 500px;
    height: 300px;
    margin-left: 7.5%;
    padding-top: 8.9%;
}

.judul_pro2{
    position: relative;
    width: 400px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: white; 

    margin-top: -23%;
    margin-left: 58%;
    letter-spacing: 0.05em;
}

.isi_pro2{
    position: relative;
    width: 495px;
    height: 100px;

    font-style: normal;
    font-size: 22px;

    color: #FFFFFF;

    margin-left: 58%;
    letter-spacing: 0.09em;
}

.isi_pro2 a{
    text-decoration: none;
    text-decoration: underline;

    color: yellow;
    opacity: 55%;
    font-size: 20px;
}

/* 110% */
@media screen and (min-width : 1300px) and (max-width : 1439px){
    
    .panel2{
        height: 725px;
    }
    
    .header_p2 p{
        font-size: 46px;
        padding-top: 6%;
    }
    
    .project_container{
        width: 540px;
        height: 360px;
    }
    
    .project2 img{
        width: 450px;
        height: 270px;
    }
    
    .judul_pro2{
        font-size: 27px;
    }
    
    .isi_pro2{
        font-size: 21px;
    }
    
    .isi_pro2 a{
        font-size: 19px;
    }
}

/* 120% */
@media screen and (min-width : 1200px) and (max-width : 1299px){
  
    .panel2{
        height: 650px;
    }
    
    .header_p2 p{
        font-size: 40px;
        padding-top: 8%;
        margin-left: 10.5%;
    }
    
    .project_container{
        width: 480px;
        height: 320px;
        margin-left: 10.5%;
    }
    
    .project2 img{
        width: 400px;
        height: 240px;
    }
    
    .judul_pro2{
        font-size: 24px;
        margin-left: 55%;
    }
    
    .isi_pro2{
        width: 465px;
        font-size: 20px;
        margin-left: 55%;
    }
    
    .isi_pro2 a{
        font-size: 18px;
    }
}

/* 130% */
@media screen and (min-width : 1100px) and (max-width : 1199px){
  
    .panel2{
        height: 575px;
        margin-top: -4.5%;
    }
    
    .header_p2 p{
        font-size: 35px;
        margin-left: 9.5%;
        padding-top: 7%;
    }
    
    .project_container{
        width: 420px;
        height: 280px;
        margin-left: 9.5%;
    }
    
    .project2 img{
        width: 350px;
        height: 210px;
    }
    
    .judul_pro2{
        font-size: 21px;
        margin-left: 52%;
        margin-top: -21%;
    }
    
    .isi_pro2{
        width: 425px;
        font-size: 18px;
        margin-left: 52%;
    }
    
    .isi_pro2 a{
        font-size: 17px;
    }
}

/* 140% */
@media screen and (max-width : 1099px){
  
    .panel2{
        height: 535px;
        margin-top: -4.5%;
    }
    
    .header_p2 p{
        font-size: 30px;
        margin-left: 8.5%;
        padding-top: 10%;
    }
    
    .project_container{
        width: 420px;
        height: 280px;
        margin-left: 8.5%;
        margin-top: 4%;
    }
    
    .project2 img{
        width: 350px;
        height: 210px;
    }
    
    .judul_pro2{
        font-size: 21px;
        margin-left: 52%;
    }
    
    .isi_pro2{
        width: 425px;
        font-size: 17px;
        margin-left: 52%;
    }
    
    .isi_pro2 a{
        font-size: 17px;
    }
}

/* PANEL 3 */

.panel3{
    height: 425px;
    background-color: rgb(20, 20, 20);
}

.whyme{
    position: relative;
    width: 200px;

    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;

    color: yellow;
    opacity: 88%;

    margin-left: 12.5%;
    padding-top: 3%;
}

.reason{
    width: 1200px;

    font-style: normal;
    font-size: 17.5px;

    color: #e7e5e5;

    margin-left: 12.5%;
    letter-spacing: 0.1em;
    padding-top: 1%;
}

.reason img{
    position: relative;
    height: 50px;
    width: 50px;
}

.reason1{
    position: relative;
    width: 300px;
    margin-top: -1%;
}

.reason2{
    position: relative;
    width: 300px;
    margin-left: 37.5%;
    margin-top: -15.65%;
}

.reason3{
    position: relative;
    width: 300px;
    margin-left: 75%;
    margin-top: -15.75%;
}

/* 110% */
@media screen and (min-width : 1300px) and (max-width : 1439px){
    
    .whyme{
        font-size: 36px;
    }
    
    .reason{
        width: 1100px;
        font-size: 16px;
    }
    
    .reason img{
        height: 45px;
        width: 45px;
    }
    
    .reason1{
        width: 260px;
    }
    
    .reason2{
        width: 260px;
    }
    
    .reason3{
        width: 260px;
    }
}

/* 120% */
@media screen and (min-width : 1200px) and (max-width : 1299px){
    
    .panel3{
        height: 400px;
    }

    .whyme{
        font-size: 32px;
        margin-left: 10.5%;
    }
    
    .reason{
        width: 1000px;
        font-size: 14.5px;
        margin-left: 10.5%;
    }
    
    .reason img{
        height: 40px;
        width: 40px;
    }
    
    .reason1{
        width: 260px;
    }
    
    .reason2{
        width: 260px;
    }
    
    .reason3{
        width: 260px;
    }
}

/* 130% */
@media screen and (min-width : 1100px) and (max-width : 1199px){
       
    .panel3{
        height: 350px;
    }

    .whyme{
        font-size: 28px;
        margin-left: 9.5%;
    }
    
    .reason{
        width: 900px;
        font-size: 13px;
        margin-left: 9.5%;
    }
    
    .reason img{
        height: 35px;
        width: 35px;
    }
    
    .reason1{
        width: 240px;
    }
    
    .reason2{
        width: 240px;
        margin-top: -15.15%;
    }
    
    .reason3{
        width: 240px;
        margin-top: -15.05%;
    }
}

/* 140% */
@media screen and (max-width : 1099px){
  
    .panel3{
        height: 300px;
    }

    .whyme{
        font-size: 24px;
        margin-left: 8.5%;
    }
    
    .reason{
        width: 800px;
        font-size: 11.5px;
        margin-left: 8.5%;
    }
    
    .reason img{
        height: 35px;
        width: 35px;
    }
    
    .reason1{
        width: 240px;
    }
    
    .reason2{
        width: 240px;
        margin-top: -15.45%;
    }
    
    .reason3{
        width: 240px;
        margin-top: -15.35%;
    }
}

/* PANEL 4 */
.panel4{
    height: 300px;
    background-color: rgb(25, 25, 25);
}

.header_p4{
    position: relative;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    text-align: center;

    color: white;
    padding-top: 2.9%;
}

.tools{
    width: 100%;
    text-align: center;
    margin-top: -1.5%;
}

.tools_1 {
    height: 110px;
    width: 110px;
    padding: 10px 10px 10px 10px;
    margin-right: 5%;
}

.tools_2{
    height: 70px;
    width: 70px;
    padding: 30px 30px 30px 30px;
    margin-right: 5%;
}

.tools_3{
    height: 90px;
    width: 90px;
    padding: 20px 20px 20px 20px;
    margin-right: 5%;
}

.tools_4{
    height: 90px;
    width: 90px;
    padding: 20px 20px 20px 20px;
    margin-right: 5%;
}

.tools_5{
    height: 70px;
    width: 70px;
    padding: 30px 30px 30px 30px;
}

/* 130% & 140% */
@media screen and (min-width : 1000px) and (max-width : 1199px){
  
    .panel4{
        height: 275px;
    }

    .tools_1 {
        height: 90px;
        width: 90px;
        padding: 10px 10px 10px 10px;
        margin-right: 5%;
    }
    
    .tools_2{
        height: 50px;
        width: 50px;
        padding: 30px 30px 30px 30px;
        margin-right: 5%;
    }
    
    .tools_3{
        height: 70px;
        width: 70px;
        padding: 20px 20px 20px 20px;
        margin-right: 5%;
    }
    
    .tools_4{
        height: 70px;
        width: 70px;
        padding: 20px 20px 20px 20px;
        margin-right: 5%;
    }
    
    .tools_5{
        height: 50px;
        width: 50px;
        padding: 30px 30px 30px 30px;
    }
}


/* FOOTER */

.footer{
    height: 300px;
    background-color: rgb(15, 15, 15);
}

.judul_footer{
    position: relative;
    width: 400px;
    height: 75px;
    margin-left: 12.5%;
    padding-top: 1.1%;

    font-style: normal;
    font-weight: bold;
    font-size: 35px;

    color: yellow;
}

.footer_email p{
    position: relative;
    width: 400px;
    height: 50px;
    margin-left: 12.5%;
    margin-top: -0.1%;

    font-style: normal;
    font-size: 25px;

    color: white;
}

.footer_email a{
    position: relative;
    text-decoration: underline;
    color: white;
    font-size: 20px;
    margin-left: 12.5%;
    margin-top: -10%;
}

.footer_icons{
    position: relative;
    margin-left: 12.5%;
}

.footer_ig img{
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: 1%;
}

.footer_wa img{
    position: relative;
    height:44px;
    width: 44px;
    margin-left: 3.3%;
}

.footer_linkedin img{
    position: relative;
    height:44px;
    width: 44px;
    margin-left: 3.3%;
}

/* 110% */
@media screen and (min-width : 1300px) and (max-width : 1439px){
    
    .footer{
        height: 270px;
    }
    
    .judul_footer{
        padding-top: 0.2%;
        font-size: 31.5px;
    }
    
    .footer_email p{
        font-size: 22.5px;
    }
    
    .footer_email a{
        font-size: 18px;
    }
    
    .footer_ig img{
        height: 36px;
        width: 36px;
    }
    
    .footer_wa img{
        height:40px;
        width: 40px;
    }
    
    .footer_linkedin img{
        height:40px;
        width: 40px;
    }
}

/* 120% */
@media screen and (min-width : 1200px) and (max-width : 1299px){
  
    .footer{
        height: 240px;
    }
    
    .judul_footer{
        padding-top: 0.4%;
        font-size: 28px;
        margin-left: 10.5%;
    }
    
    .footer_email p{
        font-size: 20px;
        margin-left: 10.5%;
        height: 40px;
    }
    
    .footer_email a{
        font-size: 16px;
        margin-left: 10.5%;
    }
    
    .footer_icons{
        margin-left: 10.5%;
    }
    
    .footer_ig img{
        height: 32px;
        width: 32px;
    }
    
    .footer_wa img{
        height:35px;
        width: 35px;
    }
    
    .footer_linkedin img{
        height:35px;
        width: 35px;
    }
}

/* 130% */
@media screen and (min-width : 1100px) and (max-width : 1199px){
  
    .footer{
        height: 210px;
    }
    
    .judul_footer{
        padding-top: 0.6%;
        font-size: 24.5px;
        margin-left: 9.5%;
        height: 60px;
    }
    
    .footer_email p{
        font-size: 17.5px;
        margin-left: 9.5%;
        height: 30px;
    }
    
    .footer_email a{
        font-size: 14px;
        margin-left: 9.5%;
    }
    
    .footer_icons{
        margin-left: 9.5%;
    }
    
    .footer_ig img{
        height: 28px;
        width: 28px;
    }
    
    .footer_wa img{
        height:31px;
        width: 31px;
    }
    
    .footer_linkedin img{
        height:31px;
        width: 31px;
    }
}

/* 140% */
@media screen and (max-width : 1099px){
  
    .footer{
        height: 180px;
    }
    
    .judul_footer{
        padding-top: 0.8%;
        font-size: 21px;
        margin-left: 8.5%;
        height: 50px;
    }
    
    .footer_email p{
        font-size: 15px;
        margin-left: 8.5%;
        height: 20px;
    }
    
    .footer_email a{
        font-size: 12px;
        margin-left: 8.5%;
    }
    
    .footer_icons{
        margin-left: 8.5%;
    }
    
    .footer_ig img{
        height: 24px;
        width: 24px;
    }
    
    .footer_wa img{
        height:27px;
        width: 27px;
    }
    
    .footer_linkedin img{
        height:27px;
        width: 27px;
    }
}
