/* * {
    outline: 1px red solid;
  } */

  *{
    font-family: Arial, Helvetica, sans-serif;
}

  html {
    scroll-behavior: smooth;
    background-color: rgb(50, 50, 50);
  }

body{
    background-repeat: no-repeat;
    margin: 0 auto;
    min-width: 960px;
}

.container{
    max-width: 1600px;
    align-items: center;
    margin: 0 auto;
}

/* HEADER */

.header{
    z-index: 1;
    position: fixed;
    background-color: black;
    width: 1600px;
    height: 77px;
}

.logo img{
    width: 44px;
    height: 44px;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 1.3%;
}

.logo p{
    color: #FFFFFF;

    font-weight: bold;
    font-size: 17.5px;
    margin-top: -3.55%;
    padding-left: 4.3%;
}

.navigasi{
    height: 72px;
}

.navigasi nav{
    margin-top: -2.5%;
    padding-left: 60%;
}

.navigasi nav a{
    color: #FFFFFF;
    text-decoration: none;

    font-size: 20px;
    margin-right: 7.7%;
}

.navigasi nav a:hover{
    color: yellow;
}

/* PANEL 2 */

.panel2{
    height: 200px;
    background-color: rgb(20, 20, 20);
}

.header_p2{
    position: relative;
    width: 100%;

    font-style: normal;
    font-weight: bold;
    font-size: 60px;

    color: rgb(255, 255, 255); 
    padding-top: 3.03%;
}

.header_p2 p{
    text-align: center;
}

/* PEMISAH */

.pemisah{
    height: 30px;
    background-color: rgb(50, 50, 50);
}

/* PANEL PROJECT */

.panel_project{
    height: 520px;
    background-color: rgb(20, 20, 20);
}

/* PROJECT 1 */

.project_container1{
    width: 600px;
    height: 400px;

    vertical-align: middle;
    background-color: rgb(30, 30, 30);
    margin-left: 12.5%;
    margin-top: -15.5%;
}

.project1 img{
    position: relative;
    width: 500px;
    height: 300px;
    padding-left: 7.5%;
    padding-top: 8.9%;
}

.judul_pro1{
    position: relative;
    width: 400px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: white; 

    padding-top: 6.5%;
    padding-left: 57.5%;
    letter-spacing: 0.05em;
}

.isi_pro1{
    position: relative;
    width: 495px;
    height: 100px;

    font-style: normal;
    font-size: 22px;

    color: #FFFFFF;

    padding-left: 57.5%;
    letter-spacing: 0.09em;
}

.isi_pro1 a{
    text-decoration: none;
    text-decoration: underline;

    color: yellow;
    opacity: 55%;
    font-size: 20px;
}

/* PROJECT 2 */

.project_container2{
    width: 600px;
    height: 400px;

    vertical-align: middle;
    background-color: rgb(30, 30, 30);
    margin-left: 50%;
    margin-top: -15.5%;
}

.project2 img{
    position: relative;
    width: 580px;
    height: 360px;
    padding-left: 2.5%;
    padding-top: 3.5%;
}

.judul_pro2{
    position: relative;
    width: 400px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: white; 

    padding-top: 6.5%;
    padding-left: 12.5%;
    letter-spacing: 0.05em;
}

.isi_pro2{
    position: relative;
    width: 495px;
    height: 100px;

    font-style: normal;
    font-size: 22px;

    color: #FFFFFF;

    padding-left: 12.5%;
    letter-spacing: 0.09em;
}

.isi_pro2 a{
    text-decoration: none;
    text-decoration: underline;

    color: yellow;
    opacity: 55%;
    font-size: 20px;
}

/* PROJECT 3 */

.project_container3{
    width: 600px;
    height: 400px;

    vertical-align: middle;
    background-color: rgb(30, 30, 30);
    margin-left: 12.5%;
    margin-top: -15.5%;
}

.project3 img{
    position: relative;
    width: 400px;
    height: 320px;
    padding-left: 16.5%;
    padding-top: 7%;
}

.judul_pro3{
    position: relative;
    width: 400px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;

    color: white; 

    padding-top: 6.5%;
    padding-left: 57.5%;
    letter-spacing: 0.05em;
}

.isi_pro3{
    position: relative;
    width: 495px;
    height: 100px;

    font-style: normal;
    font-size: 22px;

    color: #FFFFFF;

    padding-left: 57.5%;
    letter-spacing: 0.09em;
}

.isi_pro3 a{
    text-decoration: none;
    text-decoration: underline;

    color: yellow;
    opacity: 55%;
    font-size: 20px;
}

/* FOOTER */

.footer{
    height: 300px;
    background-color: rgb(15, 15, 15);
}

.judul_footer{
    position: relative;
    width: 400px;
    height: 75px;
    margin-left: 12.5%;
    padding-top: 1.1%;

    font-style: normal;
    font-weight: bold;
    font-size: 35px;

    color: yellow;
}

.footer_email p{
    position: relative;
    width: 400px;
    height: 50px;
    margin-left: 12.5%;
    margin-top: -0.1%;

    font-style: normal;
    font-size: 25px;

    color: white;
}

.footer_email a{
    position: relative;
    text-decoration: underline;
    color: white;
    font-size: 20px;
    padding-left: 12.5%;
    margin-top: -10%;
}

.footer_icons{
    position: relative;
    margin-left: 12.5%;
}

.footer_ig img{
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: 1%;
}

.footer_wa img{
    position: relative;
    height:44px;
    width: 44px;
    margin-left: 3.3%;
}

.linkedin img{
    position: relative;
    height:44px;
    width: 44px;
    margin-left: 3.3%;
}